ul {
  list-style: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eeeeee; }

h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  text-align: center;
  font-size: 30px;
  text-decoration: none; }

h2 {
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

h3 {
  color: white; }

.Logotipo {
  width: 100px; }
  .Logotipo .img {
    background-color: black;
    width: 100px;
    padding: 0vw;
    margin: 0vw;
    border: 0vw; }

.box {
  width: 200px;
  height: 50px;
  background-color: #212529;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px; }
  .box :hover {
    background-color: #1C1F23; }
  .box i {
    font-size: 20px;
    color: #777; }
  .box input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px; }

.UserIcon {
  max-width: 15px; }

.Categoria {
  margin-top: 15px; }

.BarraDeNavegacion {
  background-color: black;
  display: flex;
  flex-direction: row;
  list-style: none;
  top: 0px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  list-style-type: none; }
  .BarraDeNavegacion a:hover {
    background-color: #1b1b1b;
    transform: scale(1.1); }
  .BarraDeNavegacion ul ul {
    position: absolute;
    display: none; }
    .BarraDeNavegacion ul ul li {
      width: 100%; }

/* FOOTER */
footer {
  width: 100%;
  height: 100px;
  background-color: black; }
  footer p {
    color: white;
    text-align: center; }

.footer__cotainer {
  display: flex;
  flex-direction: column; }

.footer__container__redes {
  display: flex;
  justify-content: right; }
  .footer__container__redes li {
    padding: 0px 10px; }

.fa-cog {
  color: grey; }

/*video del index */
.VideoMain {
  width: 100%    !important;
  height: auto   !important; }

.BannerMain {
  background-color: #eeeeee; }
  .BannerMain img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

/* MAS RECOMENDADOS  */
.MasRecomendados {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.MasRecomendadosBotones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem; }

/* FIN MAS RECOMENDADOS  */
.DatosDeContacto {
  display: flex;
  justify-content: center; }

/*FIN CONTACTO */
/* SOBRE NOSOTROS */
.SobreNosotrosGrid {
  display: grid;
  grid-template-areas: "SobreNosotrosTitulo  SobreNosotrosTitulo SobreNosotrosTitulo SobreNosotrosTitulo" "SobreNosotrosImagen  SobreNosotrosTexto SobreNosotrosTexto ." "SobreNosotrosImagen  . . ." "SobreNosotrosImagen  SobreNosotrosImagen2 SobreNosotrosImagen2 .";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 0.5fr); }

.SobreNosotrosImagen {
  grid-area: SobreNosotrosImagen; }
  .SobreNosotrosImagen :hover {
    transform: scale(1.1);
    transition-duration: 1000ms; }

.SobreNosotrosImagen2 {
  grid-area: SobreNosotrosImagen2; }
  .SobreNosotrosImagen2 :hover {
    transform: scale(1.1);
    transition-duration: 1000ms; }

.SobreNosotrosTitulo {
  grid-area: SobreNosotrosTitulo;
  margin-top: 20px;
  text-transform: uppercase; }

.SobreNosotrosTexto {
  grid-area: SobreNosotrosTexto;
  font-size: 3vmin; }

/* FIN SOBRE NOSOTROS */
/* PRODUCTOS */
.Productos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.Carta {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: #fff;
  border-radius: 50px;
  padding: 40px;
  margin: 20px; }

.AnadirAlCarrito {
  border-radius: 20px; }

.imgProducto {
  width: 20vw;
  border-radius: 10px;
  background-color: transparent; }
  .imgProducto :hover {
    transform: scale(1.1);
    transition-duration: 500ms; }

/*metodologia BEM*/
.Productos__carta {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: transparent;
  color: #fff;
  border-radius: 50px;
  padding: 40px;
  margin: 20px;
  width: 18rem; }
  .Productos__carta :hover {
    transform: scale(1.1);
    transition-duration: 500ms; }

.Productos__carta__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px; }

.Productos__carta__img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: transparent; }

/* FIN PRODUCTOS   */
/* RECOMENDADOS   */
.recomendaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  margin-left: 40px; }

.recomendaciones__img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin: 50px; }

.recomendaciones__titulo {
  text-transform: uppercase; }

.recomendaciones__container__subtitulo {
  color: black; }

.recomendaciones__container__img {
  justify-content: center;
  align-items: center; }

.recomendaciones__container__p {
  color: black; }

/* FIN DE RECOMENDADOS  */
@media screen and (max-width: 768px) {
  /*   NAV     */
  .Logotipo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px; }
  .BarraDeNavegacion {
    display: flex;
    flex-direction: column; }
  .Categoria {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px; }
  .BarraDeBusqueda {
    display: none; }
  /* fin nav*/
  /* mas recomendados  */
  .BannerMain {
    display: none; }
  /* PRODCUTOS */
  .Productos {
    display: flex;
    flex-direction: column; }
  /* sobre nosotros */
  .SobreNosotrosGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .SobreNosotrosTexto {
    margin: 20px; }
  .SobreNosotrosImagen2 {
    display: none; } }

/* INICIAR */
.iniciarSesion {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 20px; }
  .iniciarSesion a {
    color: black;
    text-decoration: none; }
    .iniciarSesion a :hover {
      color: grey;
      transition-duration: 500ms; }

.tittle {
  margin-top: 50px; }
