/* FOOTER */
footer {
    width:100%;
    height:100px;
    background-color: $main-color;
        p {
            color: white;
            text-align: center;
        }
}
.footer__cotainer {
    display: flex;
    flex-direction: column;
}
.footer__container__redes {
    display: flex;
    justify-content: right;
    li {
        padding: 0px 10px;
    }
}
.fa-cog {
    color: grey;
  }