/* FOOTER */
footer {
    width:100%;
    height:100px;
    background-color: $main-color;
        p {
            color: white;
            text-align: center;
        }
}

.fa-cog {
    color: grey;
  }