.Logotipo {
    width: 100px;
    .img{
        background-color: $main-color;
        width: 100px;
        padding: 0vw;
        margin: 0vw;
        border: 0vw;
    }
}
.box {
	width: 200px;
	height: 50px;
	background-color: #212529;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 20px;
    :hover {
        background-color: #1C1F23;
    }
    i {
        font-size: 20px;
        color: #777;
    }
    input{
        flex: 1;
        height: 40px;
        border: none;
        outline: none;   
        font-size: 18px;    
        padding-left: 10px;
    }
}
.UserIcon {
    max-width: 15px;
}
.Categoria {
    margin-top: 15px;
}
.BarraDeNavegacion {
    background-color: $main-color;
    display: flex;
    flex-direction: row;
    list-style: none;
    top: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
        a:hover {
            background-color:rgb(27, 27, 27);
            transform: scale(1.1);
        }
        ul ul {
            position: absolute;
            display: none; 
            li { 
                width: 100%;
            }
        }
}